<div class="container" [@fadeIn]>
  <div class="page-title">
    <h3>Tags</h3>
  </div>

  <div class="row">
    <p-overlayPanel #op>
      <p-scrollPanel [style]="{ width: '300px', height: '200px' }">
        <div style="padding: 1em; line-height: 1.5;">
          {{ selectedDescription }}
        </div>
      </p-scrollPanel>
    </p-overlayPanel>
    <ng-container *ngIf="loading$ | async as loading; else table">
      <app-page-spinner [displaySpinner]="loading"></app-page-spinner>
    </ng-container>
    <ng-template #table>
      <div class="table-wrapper mt-5 mb-5">
        <div class="col">
          <p-toolbar>
            <div class="ui-toolbar-group-right">
              <p-confirmDialog
                #cd
                [acceptButtonStyleClass]="'ui-button-danger'"
                [acceptLabel]="'Delete'"
                [closable]="false"
                [header]="'Confirm DELETE'"
                [rejectButtonStyleClass]="'ui-button-secondary'"
                [rejectLabel]="'Cancel'"
                [rtl]="true"
                [style]="{ width: '425px' }"
              >
                <p-footer class="two-button">
                  <button
                    (click)="cd.reject()"
                    [class]="'ui-button-secondary float-left'"
                    icon="pi pi-times"
                    label="Cancel"
                    pButton
                    type="button"
                  ></button>
                  <button
                    (click)="cd.accept()"
                    [class]="'ui-button-danger'"
                    icon="pi pi-check"
                    label="Delete"
                    pButton
                    type="button"
                  ></button>
                </p-footer>
              </p-confirmDialog>
              <button
                (click)="confirmDeletion()"
                [disabled]="!selectedTags.length"
                class="ui-button-raised ui-button-danger"
                label="Delete"
                pButton
                type="button"
              ></button>
              <button
                class="ui-button-raised"
                label="Add Tag"
                pButton
                routerLink="add"
                type="button"
              ></button>
            </div>
          </p-toolbar>
        </div>
        <div class="col">
          <p-table
            (onLazyLoad)="getTags($event)"
            [(selection)]="selectedTags"
            [lazy]="true"
            [loading]="tableDefaults.loading"
            [paginatorPosition]="tableDefaults.paginatorPosition"
            [paginator]="(tags$ | async).length > 0"
            [reorderableColumns]="tableDefaults.reorderableColumns"
            [responsive]="true"
            [rowHover]="tableDefaults.rowHover"
            [rowsPerPageOptions]="tableDefaults.rowsPerPageOptions"
            [rows]="tableDefaults.defaultRows"
            [scrollHeight]="tableDefaults.scrollHeight"
            [scrollable]="tableDefaults.scrollable"
            [sortField]="'name'"
            [sortOrder]="-1"
            [totalRecords]="total$ | async"
            [value]="tags$ | async"
          >
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 3em;">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th
                  *ngFor="let col of tableOptions.columns"
                  [pSortableColumn]="col.value"
                >
                  {{ col.name }}
                  <p-sortIcon [field]="col.value"></p-sortIcon>
                </th>
                <th class="actions-width">Actions</th>
              </tr>
            </ng-template>
            <ng-template let-tag pTemplate="body">
              <tr [pSelectableRow]="tag">
                <td>
                  <p-tableCheckbox [value]="tag"></p-tableCheckbox>
                </td>
                <td>{{ tag.name }}</td>
                <td>
                  <div
                    (click)="
                      selectedDescription = tag.description; op.toggle($event)
                    "
                    *ngIf="
                      tag.description && tag.description.length > 15;
                      else smallerDesc
                    "
                    pTooltip="Click for detailed info"
                    style="cursor: pointer;"
                  >
                    {{
                      tag.description.length > 15
                        ? (tag.description | slice: 0:20) + '...'
                        : tag.description
                    }}
                  </div>
                  <ng-template #smallerDesc>
                    <div>
                      {{ tag.description }}
                    </div>
                  </ng-template>
                </td>
                <td>
                  <div
                    [ngStyle]="{ background: tag.color }"
                    class="table-cell-color"
                  ></div>
                </td>
                <td class="text-center">
                  <button
                    class="ui-button-info"
                    icon="pi pi-pencil"
                    iconPos="left"
                    pButton
                    routerLink="edit/{{ tag.id }}"
                    type="button"
                  ></button>
                  <button
                    (click)="onDelete(tag)"
                    class="ui-button-danger"
                    icon="pi pi-trash"
                    iconPos="left"
                    pButton
                    type="button"
                  ></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
          <div
            *ngIf="!(tags$ | async).length as tags"
            class="text-center font-weight-bold font-italic bg-light p-2"
          >
            {{ tableDefaults.noData }}
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
