@import 'custom';
@import 'components/table';

.tags {
  &-title {
    font-size: 6rem;
    color: $gray-200;
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
  }

  .table-actions {
    display: flex;
    width: 50%;
    margin-bottom: $spacer-lg;
  }
}
