<div class="tags" [@fadeIn]>
  <div class="tags-title">
    <h3>{{ 'TAG.LIST.TITLE' | transloco }}</h3>
  </div>

  <ng-container *ngIf="loading$ | async as loading; else table">
    <app-page-spinner [displaySpinner]="loading"></app-page-spinner>
  </ng-container>

  <ng-template #table>
    <div class="tags-actions">
      <button appButton routerLink="add" class="tags-actions--button">
        {{ 'TAG.LIST.ADD' | transloco }}
      </button>
    </div>

    <table cdk-table [dataSource]="dataSource" class="table">
      <!-- Name Column -->
      <ng-container cdkColumnDef="name">
        <th cdk-header-cell *cdkHeaderCellDef>
          {{ 'GENERAL.NAME' | transloco }}
        </th>

        <td cdk-cell *cdkCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- Description Column -->
      <ng-container cdkColumnDef="description">
        <th cdk-header-cell *cdkHeaderCellDef>
          {{ 'GENERAL.DESCRIPTION' | transloco }}
        </th>

        <td cdk-cell *cdkCellDef="let element">
          {{ element.description }}
        </td>
      </ng-container>

      <!-- Color Column -->
      <ng-container cdkColumnDef="color">
        <th cdk-header-cell *cdkHeaderCellDef>
          {{ 'GENERAL.COLOR' | transloco }}
        </th>

        <td cdk-cell *cdkCellDef="let element">
          <div [style.background]="element.color" class="color"></div>
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container cdkColumnDef="actions">
        <th cdk-header-cell *cdkHeaderCellDef>
          {{ 'GENERAL.ACTIONS' | transloco }}
        </th>

        <td cdk-cell *cdkCellDef="let element" class="actions">
          <button appButton bShape="fab" routerLink="edit/{{ element.id }}">
            <svg-icon key="edit" size="lg"></svg-icon>
          </button>
          <button
            appButton
            bType="warning"
            bShape="fab"
            (click)="showDeleteDialog(element)"
          >
            <svg-icon key="delete" size="lg"></svg-icon>
          </button>
        </td>
      </ng-container>

      <tr
        class="header-row"
        cdk-header-row
        *cdkHeaderRowDef="tableColumns"
      ></tr>

      <tr
        class="body-row"
        cdk-row
        *cdkRowDef="let row; columns: tableColumns"
      ></tr>
    </table>
  </ng-template>
</div>
