$baseDanger: #710915;

@mixin dangerAnimation {
  animation-name: danger;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@mixin modalButton {
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  border-radius: 0 !important;
  border: 0 !important;

  &:focus {
    -webkit-box-shadow: 0 !important;
    -moz-box-shadow: 0 !important;
    box-shadow: none !important;
  }

  &.extra-danger {
    @include dangerAnimation;
    background: #a70916 !important;

    &:hover {
      background: #710915 !important;
      color: #fff !important;
    }
  }
}

@keyframes danger {
  0% {
    background: $baseDanger;
  }

  100% {
    background: darken($baseDanger, 10%);
  }
}

@mixin divide3 {
  button {
    @include modalButton;
    width: 35% !important;

    &:first-child {
      width: 30% !important;
    }
  }
}

@mixin divide2 {
  button {
    @include modalButton;
    width: 50% !important;
  }
}

body {
  .ui-dynamicdialog {
    top: 150px !important;
  }

  .ui-dialog:not(.ui-dynamicdialog) {
    width: 425px;
    top: 100px !important;

    .ui-dialog-content {
      min-height: 100px;
    }

    .ui-dialog-footer {
      margin: 0 !important;
      padding: 0 !important;
      height: 50px;
      border: 0 !important;

      & .three-button {
        @include divide3;
      }

      & .two-button {
        @include divide2;
      }
    }
  }

}
