<div class="table-filters mt-3">
  <p-accordion>
    <p-accordionTab header="Filters">
      <p-header> Filters </p-header>

      <app-short-filter
        (removeFilter)="filterUpdate($event)"
        [filter]="filterForm.value"
      >
      </app-short-filter>

      <form [formGroup]="filterForm">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="title">Title</label>

              <input
                class="form-control"
                formControlName="name"
                id="title"
                placeholder="Enter title"
                type="text"
              />
            </div>
          </div>

          <div class="col">
            <div class="form-group">
              <label for="description">Description</label>

              <input
                class="form-control"
                formControlName="description"
                id="description"
                placeholder="Enter description"
                type="text"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <app-label text="Category">
                <mat-form-field appearance="standard">
                  <mat-select
                    placeholder="Select category"
                    formControlName="category"
                    multiple
                  >
                    <mat-option>None</mat-option>

                    <mat-option
                      *ngFor="let cat of categories$ | async"
                      [value]="cat"
                    >
                      {{ cat.title }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </app-label>
            </div>
          </div>

          <div class="col">
            <div class="form-group">
              <app-label text="Tags">
                <mat-form-field appearance="standard">
                  <mat-select
                    placeholder="Select tags"
                    formControlName="tags"
                    multiple
                  >
                    <mat-option>None</mat-option>

                    <mat-option *ngFor="let tag of tags$ | async" [value]="tag">
                      {{ tag.title }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </app-label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <app-label text="Created Between">
                <mat-form-field appearance="fill">
                  <mat-date-range-input [rangePicker]="pickerCreation">
                    <input matStartDate placeholder="Start date" />
                    <input matEndDate placeholder="End date" />
                  </mat-date-range-input>

                  <mat-datepicker-toggle
                    matSuffix
                    [for]="pickerCreation"
                  ></mat-datepicker-toggle>

                  <mat-date-range-picker
                    #pickerCreation
                  ></mat-date-range-picker>
                </mat-form-field>
              </app-label>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <app-label text="Due Between">
                <mat-form-field appearance="fill">
                  <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate placeholder="Start date" />
                    <input matEndDate placeholder="End date" />
                  </mat-date-range-input>

                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>

                  <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
              </app-label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <mat-checkbox color="primary" formControlName="recurrent">
                Recurrent
              </mat-checkbox>
            </div>
          </div>

          <div class="col">
            <div class="form-group">
              <label
                *ngIf="
                  filterForm.controls['amount'] !== null &&
                    amountBetween.length > 0;
                  else labelSimple
                "
                for="amount"
                >Amount {{ amountBetween[0] + ' - ' + amountBetween[1] }}</label
              >

              <ng-template #labelSimple>
                <label for="amount">Amount</label>
              </ng-template>

              <p-slider
                [max]="amountBetween[1]"
                [min]="amountBetween[0]"
                [range]="true"
                [step]="100"
                formControlName="amount"
                id="amount"
                name="amount"
              >
              </p-slider>
            </div>
          </div>
        </div>
      </form>
    </p-accordionTab>
  </p-accordion>
</div>
