@import 'custom';

$dark-translucent: rgba(0, 0, 0, 0.2);

.app-button {
  position: relative;
  display: block;
  width: 100%;
  border: none;
  color: white;
  box-shadow: 2px 3px 5px gray;
  padding: 0.5rem 1rem;

  &[disabled] {
    opacity: 0.5;

    &:after,
    &:before {
      content: none;
    }
  }

  // TODO check refactor without !important
  &:active,
  &:focus {
    border: none !important;
    outline: none !important;
  }

  &:active {
    background: $black;
    transition: $transition-base;
    box-shadow: 0 0 5px $green;
  }

  &--main {
    background: $green-light;
    @include fill($dark-translucent, 100%);
  }

  &--secondary {
    background: $gray-600;
    @include fill($dark-translucent, 100%);
  }

  &--warning {
    background: $red;
    @include fill($dark-translucent, 100%);
  }
}
