.background {
  height: 100%;
  background-size: cover;
  transition-duration: .6s;
  background-image: url("https://images.unsplash.com/photo-1489211914964-32c31f87e86b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80");

  &--blured {
    filter: blur(5px);
    box-shadow: inset 0 0 100px black;
  }
}

.login {
  &-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 4px;
  }

  &-container {
    width: 100%;
  }
}
