<div class="container" [@fadeIn]>
  <div class="page-title mb-5">
    <h3>{{ pageTitle }}</h3>
  </div>

  <div class="row mb-5">
    <div class="col">
      <ng-container *ngIf="loading$ | async as loading; else form">
        <app-page-spinner [displaySpinner]="loading"></app-page-spinner>
      </ng-container>

      <ng-template #form>
        <div class="form-wrapper">
          <form (ngSubmit)="onSubmit()" [formGroup]="tagFormControls">
            <div class="form-group">
              <app-labels [text]="'GENERAL.NAME' | transloco">
                <input
                  [ngClass]="{
                    'is-invalid': name.errors && isSubmitted === true
                  }"
                  class="form-control"
                  formControlName="name"
                  id="name"
                  placeholder="Enter name"
                  required
                  type="text"
                />
              </app-labels>

              <app-errors
                [text]="'GENERAL.ERRORS.NAME' | transloco"
                *ngIf="
                  name.errors && isSubmitted === true && name.errors.required
                "
              ></app-errors>

              <app-errors
                [text]="'GENERAL.ERRORS.NAME_EXISTS' | transloco"
                *ngIf="nameExists && !name.errors"
              ></app-errors>
            </div>

            <div class="form-group">
              <app-labels [text]="'GENERAL.DESCRIPTION' | transloco">
                <textarea
                  class="form-control"
                  formControlName="description"
                  id="description"
                  name="description"
                  [placeholder]="'GENERAL.PLACEHOLDERS.DESCRIPTION' | transloco"
                  rows="7"
                ></textarea>
              </app-labels>
            </div>

            <div class="form-group">
              <app-labels text="Color">
                <p-colorPicker
                  [inline]="true"
                  class="test"
                  formControlName="color"
                  value="selectedColor"
                ></p-colorPicker>

                <div
                  [ngStyle]="{
                    background: tagFormControls.controls['color'].value
                  }"
                  class="preview-block"
                ></div>
              </app-labels>
            </div>

            <hr />

            <div class="actions">
              <button appButton (click)="goBack($event)" bType="secondary">
                {{ 'GENERAL.CANCEL' | transloco }}
              </button>

              <button appButton>{{ 'GENERAL.SAVE' | transloco }}</button>
            </div>
          </form>
        </div>
      </ng-template>
    </div>
  </div>
</div>
