<div class="container" [@fadeIn]>
  <div class="page-title mb-5">
    <h3>{{ pageTitle }}</h3>
  </div>

  <div class="row mb-5">
    <div class="col">
      <div class="form-wrapper">
        <form (ngSubmit)="onSubmit()" [formGroup]="expenseForm">
          <div class="form-group">
            <app-label [text]="'GENERAL.NAME' | transloco">
              <input
                [ngClass]="{
                  'is-invalid':
                    name.invalid &&
                    (name.dirty || name.touched || isFormSubmitted)
                }"
                class="form-control"
                formControlName="name"
                id="title"
                [placeholder]="'EXPENSES.DETAIL.PLACEHOLDERS.NAME' | transloco"
                required
                type="text"
              />
            </app-label>

            <app-error
              [text]="'EXPENSES.DETAIL.ERRORS.TITLE' | transloco"
              *ngIf="
                name.invalid &&
                (name.dirty || name.touched || isFormSubmitted) &&
                name.errors.required &&
                isFormSubmitted
              "
            ></app-error>
          </div>

          <div class="form-group">
            <app-label [text]="'GENERAL.AMOUNT' | transloco">
              <input
                [ngClass]="{
                  'is-invalid':
                    amount.invalid &&
                    (amount.dirty || amount.touched || isFormSubmitted)
                }"
                aria-describedby="amount"
                class="form-control"
                formControlName="amount"
                id="amount"
                [placeholder]="
                  'EXPENSES.DETAIL.PLACEHOLDERS.AMOUNT' | transloco
                "
                required
                type="text"
              />
            </app-label>

            <app-error
              [text]="'EXPENSES.DETAIL.ERRORS.AMOUNT' | transloco"
              *ngIf="
                amount.invalid &&
                (amount.dirty || amount.touched || isFormSubmitted) &&
                amount.errors.required &&
                isFormSubmitted
              "
            ></app-error>
          </div>

          <div class="form-group">
            <app-label [text]="'GENERAL.DESCRIPTION' | transloco">
              <textarea
                class="form-control"
                formControlName="description"
                id="description"
                [placeholder]="'GENERAL.DESCRIPTION' | transloco"
                rows="7"
              >
              </textarea>
            </app-label>
          </div>

          <div class="form-group">
            <mat-checkbox color="primary" formControlName="recurrent">
              {{ 'GENERAL.RECURRENT' | transloco }}
            </mat-checkbox>
          </div>

          <div class="form-group">
            <app-label [text]="'EXPENSES.LIST.DUE_DATE' | transloco">
              <mat-form-field>
                <input
                  matInput
                  [matDatepicker]="picker"
                  [placeholder]="
                    'EXPENSES.DETAIL.PLACEHOLDERS.DATE' | transloco
                  "
                  [min]="minDate"
                  formControlName="dueDate"
                />

                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>

                <mat-datepicker
                  #picker
                  startView="month"
                  disabled="false"
                ></mat-datepicker>
              </mat-form-field>
            </app-label>
          </div>

          <div class="form-group">
            <app-label [text]="'EXPENSES.LIST.CATEGORY' | transloco">
              <mat-form-field appearance="standard">
                <mat-select
                  [placeholder]="
                    'EXPENSES.DETAIL.PLACEHOLDERS.CATEGORY' | transloco
                  "
                  formControlName="category"
                >
                  <mat-option>{{ 'GENERAL.NONE' | transloco }}</mat-option>

                  <mat-option
                    *ngFor="let cat of categories$ | async"
                    [value]="cat"
                  >
                    {{ cat.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </app-label>
          </div>

          <div class="form-group">
            <app-label [text]="'EXPENSES.LIST.TAGS' | transloco">
              <mat-form-field appearance="standard">
                <mat-select
                  [placeholder]="
                    'EXPENSES.DETAIL.PLACEHOLDERS.TAGS' | transloco
                  "
                  formControlName="tags"
                  multiple
                >
                  <mat-option>{{ 'GENERAL.NONE' | transloco }}</mat-option>

                  <mat-option *ngFor="let tag of tags$ | async" [value]="tag">
                    {{ tag.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </app-label>
          </div>

          <hr />

          <div class="actions">
            <button (click)="goBack($event)" appButton bType="secondary">
              {{ 'GENERAL.CANCEL' | transloco }}
            </button>

            <button appButton>{{ 'GENERAL.SAVE' | transloco }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
