<div class="container" [@fadeIn]>
  <div class="page-title mb-5">
    <h3>{{ pageTitle }}</h3>
  </div>
  <div class="row mb-5">
    <div class="col">
      <div class="form-wrapper">
        <form (ngSubmit)="onSubmit()" [formGroup]="expenseForm">
          <div class="form-group">
            <app-label text="Name">
              <input
                [ngClass]="{
                  'is-invalid':
                    name.invalid &&
                    (name.dirty || name.touched || isFormSubmitted)
                }"
                class="form-control"
                formControlName="name"
                id="title"
                placeholder="Enter name"
                required
                type="text"
              />
            </app-label>
            <app-error
              text="Title is required"
              *ngIf="
                name.invalid &&
                (name.dirty || name.touched || isFormSubmitted) &&
                name.errors.required &&
                isFormSubmitted
              "
            ></app-error>
          </div>
          <div class="form-group">
            <app-label text="Amount">
              <input
                [ngClass]="{
                  'is-invalid':
                    amount.invalid &&
                    (amount.dirty || amount.touched || isFormSubmitted)
                }"
                aria-describedby="amount"
                class="form-control"
                formControlName="amount"
                id="amount"
                placeholder="Enter amount"
                required
                type="text"
              />
            </app-label>
            <app-error
              text="Amount is required"
              *ngIf="
                amount.invalid &&
                (amount.dirty || amount.touched || isFormSubmitted) &&
                amount.errors.required &&
                isFormSubmitted
              "
            ></app-error>
          </div>
          <div class="form-group">
            <app-label text="Description">
              <textarea
                class="form-control"
                formControlName="description"
                id="description"
                placeholder="Description"
                rows="7"
              >
              </textarea>
            </app-label>
          </div>
          <div class="form-group">
            <mat-checkbox color="primary" formControlName="recurrent">
              Recurrent
            </mat-checkbox>
          </div>
          <div class="form-group">
            <app-label text="Due Date">
              <mat-form-field>
                <input
                  matInput
                  [matDatepicker]="picker"
                  placeholder="Choose a date"
                  [min]="minDate"
                  formControlName="dueDate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker
                  #picker
                  startView="month"
                  disabled="false"
                ></mat-datepicker>
              </mat-form-field>
            </app-label>
          </div>
          <div class="form-group">
            <app-label text="Category">
              <mat-form-field appearance="standard">
                <mat-select
                  placeholder="Select category"
                  formControlName="category"
                >
                  <mat-option>None</mat-option>
                  <mat-option
                    *ngFor="let cat of categories$ | async"
                    [value]="cat"
                  >
                    {{ cat.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </app-label>
          </div>
          <div class="form-group">
            <app-label text="Tags">
              <mat-form-field appearance="standard">
                <mat-select
                  placeholder="Select tags"
                  formControlName="tags"
                  multiple
                >
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let tag of tags$ | async" [value]="tag">
                    {{ tag.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </app-label>
          </div>
          <hr />
          <div class="actions">
            <button (click)="goBack($event)" appButton bType="secondary">
              Cancel
            </button>
            <button appButton>Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
