<div class="container">
  <div class="page-title">
    <h3>Rates</h3>
  </div>

  <div class="row">
    <p-overlayPanel #op>
      <p-scrollPanel [style]="{width: '300px', height: '200px'}">
        <div style="padding:1em;line-height:1.5">
          {{selectedObservation}}
        </div>
      </p-scrollPanel>
    </p-overlayPanel>
    <div class="table-wrapper mt-5 mb-5">
      <div class="col">
        <p-toolbar>
          <div class="ui-toolbar-group-left">
            <p-multiSelect [options]="expenses"
                           [defaultLabel]="'Select expenses'"
                           [filterPlaceHolder]="'Type to filter'"
                           [(ngModel)]="selectedExpenses"
                           (onChange)="filterTable($event)"
                           [optionLabel]="'title'"
                           [panelStyle]="{minWidth:'200px'}">
            </p-multiSelect>
            <button pButton
                    type="button"
                    pTooltip="Clear filters"
                    *ngIf="selectedExpenses.length"
                    (click)="selectedExpenses=[]"
                    icon="pi pi-times"
                    class="TEST ui-button-raised ui-button-rounded ui-button-warning">
            </button>
          </div>
          <div class="ui-toolbar-group-right">
            <p-confirmDialog #cd
                             [style]="{width: '425px'}"
                             [acceptLabel]="'Delete'"
                             [acceptButtonStyleClass]="'ui-button-danger'"
                             [rejectButtonStyleClass]="'ui-button-secondary'"
                             [header]="'Confirm DELETE'"
                             [rejectLabel]="'Cancel'">
              <p-footer>
                <button type="button"
                        [class]="'ui-button-secondary float-left'"
                        pButton
                        icon="pi pi-times"
                        label="Cancel"
                        (click)="cd.reject()">
                </button>
                <button type="button"
                        [class]="'ui-button-danger'"
                        pButton
                        icon="pi pi-check"
                        label="Delete"
                        (click)="cd.accept()">
                </button>
              </p-footer>
            </p-confirmDialog>
            <button type="button"
                    (click)="confirmDeletion()"
                    pButton
                    [disabled]="!selectedRates.length"
                    class="ui-button-raised ui-button-danger"
                    label="Delete">
            </button>
            <button pButton type="button"
                    routerLink="add"
                    label="Add Rate"
                    class="ui-button-raised">
            </button>
          </div>
        </p-toolbar>

      </div>
      <div class="col">
        <p-table [value]="rates" [paginator]="true" [rows]="10" [(selection)]="selectedRates">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 3em">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th>Id</th>
              <th>Amount</th>
              <th>Observation</th>
              <th>Creation Date</th>
              <th>Payed On</th>
              <th>Expense</th>
              <th>Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rate>
            <tr [pSelectableRow]="rate">
              <td>
                <p-tableCheckbox [value]="rate"></p-tableCheckbox>
              </td>
              <td>{{rate.id}}</td>
              <td>{{rate.amount}}</td>
              <td>
                <div *ngIf="rate.observation && rate.observation.length > 15; else smallerObs"
                     style="cursor:pointer;"
                     pTooltip="Click for detailed info"
                     (click)="selectedObservation=rate.observation;op.toggle($event)">
                  {{rate.observation.length > 15 ? (rate.observation | slice:0:20)+'...' :
                  rate.observation}}
                </div>
                <ng-template #smallerObs>
                  <div>
                    {{rate.observation}}
                  </div>
                </ng-template>
              </td>
              <td>{{rate.creationDate | date}}</td>
              <td>{{rate.payedOn | date}}</td>
              <td>
                <span *ngIf="rate.expense">{{rate.expense.title}}</span>
              </td>
              <td class="text-center">
                <button pButton
                        class="ui-button-info"
                        type="button"
                        routerLink="add/{{rate.id}}"
                        icon="pi pi-pencil"
                        iconPos="left"></button>
                <button pButton
                        class="ui-button-danger"
                        type="button"
                        (click)="onDelete(rate)"
                        icon="pi pi-trash"
                        iconPos="left"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

    </div>
  </div>
</div>
