<div class="expenses" [@fadeIn]>
  <div class="expenses-title">
    <h3>{{ 'EXPENSES.LIST.TITLE' | transloco }}</h3>
  </div>

  <app-no-data
    *ngIf="!(expenses$ | async).length"
    [message]="'nu sunt date momentan. vrei sa adaugam?'"
  >
    <button appButton routerLink="add" class="expenses-actions--button">
      {{ 'EXPENSES.LIST.ADD' | transloco }}
    </button>
  </app-no-data>

  <ng-container *ngIf="loading$ | async as loading">
    <app-page-spinner [displaySpinner]="loading"></app-page-spinner>
  </ng-container>

  <ng-container *ngIf="(expenses$ | async).length">
    <div class="expenses-actions"></div>
    <table cdk-table [dataSource]="dataSource" class="table">
      <!-- Name Column -->
      <ng-container cdkColumnDef="name">
        <th cdk-header-cell *cdkHeaderCellDef>
          {{ 'GENERAL.NAME' | transloco }}
        </th>
        <td cdk-cell *cdkCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- Description Column -->
      <ng-container cdkColumnDef="amount">
        <th cdk-header-cell *cdkHeaderCellDef>
          {{ 'GENERAL.AMOUNT' | transloco }}
        </th>
        <td cdk-cell *cdkCellDef="let element">
          {{ element.amount }}
        </td>
      </ng-container>

      <ng-container cdkColumnDef="description">
        <th cdk-header-cell *cdkHeaderCellDef>
          {{ 'GENERAL.DESCRIPTION' | transloco }}
        </th>
        <td cdk-cell *cdkCellDef="let element">
          {{ element.description }}
        </td>
      </ng-container>

      <ng-container cdkColumnDef="recurrent">
        <th cdk-header-cell *cdkHeaderCellDef>
          {{ 'GENERAL.RECURRENT' | transloco }}
        </th>
        <td cdk-cell *cdkCellDef="let element">
          {{ element.recurrent }}
        </td>
      </ng-container>

      <ng-container cdkColumnDef="createdOn">
        <th cdk-header-cell *cdkHeaderCellDef>
          {{ 'GENERAL.CREATED_ON' | transloco }}
        </th>
        <td cdk-cell *cdkCellDef="let element">
          {{ element.createdOn | date }}
        </td>
      </ng-container>

      <ng-container cdkColumnDef="dueDate">
        <th cdk-header-cell *cdkHeaderCellDef>
          {{ 'EXPENSES.LIST.DUE_DATE' | transloco }}
        </th>
        <td cdk-cell *cdkCellDef="let element">
          {{ element.dueDate | date }}
        </td>
      </ng-container>

      <ng-container cdkColumnDef="category">
        <th cdk-header-cell *cdkHeaderCellDef>
          {{ 'EXPENSES.LIST.CATEGORY' | transloco }}
        </th>
        <td cdk-cell *cdkCellDef="let element">
          {{ element.category?.name }}
        </td>
      </ng-container>

      <ng-container cdkColumnDef="tags">
        <th cdk-header-cell *cdkHeaderCellDef>
          {{ 'EXPENSES.LIST.TAGS' | transloco }}
        </th>
        <td cdk-cell *cdkCellDef="let element">
          {{ element.tags }}
        </td>
      </ng-container>

      <ng-container cdkColumnDef="payed">
        <th cdk-header-cell *cdkHeaderCellDef>
          {{ 'EXPENSES.LIST.PAYED' | transloco }}
        </th>
        <td cdk-cell *cdkCellDef="let element">
          {{ element.payed }}
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container cdkColumnDef="actions">
        <th cdk-header-cell *cdkHeaderCellDef>
          {{ 'GENERAL.ACTIONS' | transloco }}
        </th>
        <td cdk-cell *cdkCellDef="let element" class="actions">
          <button appButton bShape="fab" routerLink="edit/{{ element.id }}">
            <svg-icon key="edit" size="lg"></svg-icon>
          </button>
          <button
            appButton
            bType="warning"
            bShape="fab"
            (click)="showDeleteDialog(element)"
          >
            <svg-icon key="delete" size="lg"></svg-icon>
          </button>
        </td>
      </ng-container>

      <tr
        class="header-row"
        cdk-header-row
        *cdkHeaderRowDef="tableColumns"
      ></tr>

      <tr
        class="body-row"
        cdk-row
        *cdkRowDef="let row; columns: tableColumns"
      ></tr>
    </table>
  </ng-container>
</div>
