@import 'custom';

.noData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $spacer-xlg;
  background: $gray;
  box-shadow: 0px 0px 14px 7px rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  max-width: 50rem;
  margin: 0 auto;

  &-container {
    width: 30rem;
    margin-bottom: $spacer-lg;
    padding-bottom: $spacer-lg;
    border-bottom: 1px solid $gray-dark;
  }

  &-text {
    color: $secondary;
    text-align: center;
    font-weight: bold;
  }
}
