<div class="container" [@fadeIn]>
  <div class="page-title mb-5">
    <h3>{{pageTitle}}</h3>
  </div>
  <div class="row mb-5">
    <div class="col">
      <div class="form-wrapper">
        <form [formGroup]="expenseForm"
              (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text"
                   class="form-control"
                   id="title"
                   formControlName="title"
                   required
                   [ngClass]="{ 'is-invalid': title.invalid && ( title.dirty || title.touched || isFormSubmitted ) }"
                   placeholder="Enter title">
            <div *ngIf="title.invalid && (title.dirty || title.touched || isFormSubmitted)"
                 class="invalid-feedback">
              <div *ngIf="title.errors.required && isFormSubmitted">Title is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="amount">Amount</label>
            <input type="text"
                   class="form-control"
                   id="amount"
                   formControlName="amount"
                   required
                   [ngClass]="{ 'is-invalid': amount.invalid && ( amount.dirty || amount.touched || isFormSubmitted ) }"
                   aria-describedby="amount"
                   placeholder="Enter amount">
            <div *ngIf="amount.invalid && ( amount.dirty || amount.touched || isFormSubmitted )"
                 class="invalid-feedback">
              <div *ngIf="amount.errors.required && isFormSubmitted">Amount is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea rows="7"
                      class="form-control"
                      id="description"
                      formControlName="description"
                      placeholder="Description">
            </textarea>
          </div>
          <div class="form-group">
            <p-checkbox binary="true"
                        formControlName="recurrent"
                        label="Recurrent">
            </p-checkbox>
          </div>
          <div class="form-group">
            <label for="dueDate">Due date</label>
            <p-calendar formControlName="dueDate"
                        id="dueDate"
                        [showIcon]="true"
                        [monthNavigator]="true"
                        [yearNavigator]="true"
                        [minDate]="minDate"
                        yearRange="2000:2030"
                        showButtonBar="true">
            </p-calendar>
          </div>
          <div class="form-group">
            <label for="category">Category</label>
            <p-dropdown id="category"
                        formControlName="category"
                        [options]="categories$ | async"
                        [showClear]="true"
                        [placeholder]="'Select category'"
                        [style]="{'width':'50%'}">
              <ng-template let-item pTemplate="selectedItem">
                <span [ngStyle]="{background: item.value.color}" class="selected-cat"></span>
                <span style="font-size:14px;margin-left:10px;margin-top:4px">{{item.label}}</span>
              </ng-template>
              <ng-template let-cat pTemplate="item">
                <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                  <span
                      [ngStyle]="{background: cat.value.color, width: '50%', height: '100%', display:'inline-block'}"></span>
                  <span style="font-size:14px;float:right;margin-top:4px">{{cat.label}}</span>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
          <div class="form-group">
            <label for="tags">Tags</label>
            <p-multiSelect [options]="tags$ | async"
                           formControlName="tags"
                           id="tags"
                           [style]="{'width':'50%'}">
              <ng-template let-value pTemplate="selectedItems">
                <div *ngFor="let val of value"
                     class="ui-multiselected-item-token ui-corner-all inlineb">
                  <span [ngStyle]="{background:val.color}" class="small-select-tag"></span>
                  <span>{{val.name}}</span>
                </div>
                <span *ngIf="!value || value.length === 0"
                      class="ui-multiselected-empty-token ui-corner-all">Choose</span>
              </ng-template>
              <ng-template let-tag pTemplate="item">
                <span [ngStyle]="{background:tag.value.color}" class="select-tag"></span>
                <div style="font-size:14px;float:right;margin-top:4px">{{tag.label}}</div>
              </ng-template>
            </p-multiSelect>
          </div>
          <hr>
          <div>
            <button type="submit" class="btn btn-primary float-right">Save</button>
            <button (click)="goBack($event)" class="btn btn-secondary">Cancel</button>
          </div>
        </form>
      </div>
    </div>

  </div>


</div>

