<div class="container" [@fadeIn]>
  <div class="page-title mb-5">
    <h3>{{pageTitle}}</h3>
  </div>
  <div class="row mb-5">
    <div class="col">
      <div class="form-wrapper">
        <form (ngSubmit)="onSubmit()"
              [formGroup]="rateFormControls">
          <div class="form-group">
            <label for="amount">Amount</label>
            <input type="text"
                   class="form-control"
                   id="amount"
                   [ngClass]="{ 'is-invalid': amount.errors && isSubmitted }"
                   required
                   name="amount"
                   placeholder="Enter amount"
                   formControlName="amount">
            <div *ngIf="isSubmitted && amount.errors" class="invalid-feedback">
              <div *ngIf="amount.errors.required">Amount is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="payedOn">Payed On</label>
            <p-calendar formControlName="payedOn"
                        id="payedOn"
                        class="block"
                        [required]="true"
                        [showIcon]="true"
                        [monthNavigator]="true"
                        [yearNavigator]="true"
                        [maxDate]="maxDate"
                        name="payedOn"
                        yearRange="2000:2030"
                        showButtonBar="true">
            </p-calendar>
            <div *ngIf="isSubmitted && payedOn.invalid"
                 class="invalid-feedback"
                 style="display: block;">
              <div *ngIf="payedOn.errors">Date is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="expense">Expense</label>
            <p-dropdown id="expense"
                        name="expense"
                        class="block"
                        [options]="expenses$ | async"
                        formControlName="expense"
                        [showClear]="true"
                        [placeholder]="'Select expense'"
                        [style]="{'width':'50%'}">
            </p-dropdown>
          </div>
          <div class="form-group">
            <label for="observation">Observation</label>
            <textarea rows="7"
                      class="form-control"
                      id="observation"
                      name="observation"
                      placeholder="Observation"
                      formControlName="observation"
            ></textarea>
          </div>
          <hr>
          <div>
            <button type="submit" class="btn btn-primary float-right">Save</button>
            <button (click)="goBack($event)" class="btn btn-secondary">Cancel</button>
          </div>
        </form>
      </div>
    </div>

  </div>


</div>

