<div class="container" [@fadeIn]>
  <div class="page-title mb-5">
    <h3>{{ pageTitle }}</h3>
  </div>
  <div class="row mb-5">
    <div class="col">
      <div class="form-wrapper">
        <form (ngSubmit)="onSubmit()" [formGroup]="rateFormControls">
          <div class="form-group">
            <label for="amount">Amount</label>
            <input
              [ngClass]="{ 'is-invalid': amount.errors && isSubmitted }"
              class="form-control"
              formControlName="amount"
              id="amount"
              name="amount"
              placeholder="Enter amount"
              required
              type="text"
            />
            <div *ngIf="isSubmitted && amount.errors" class="invalid-feedback">
              <div *ngIf="amount.errors.required">Amount is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="payedOn">Payed On</label>
            <p-calendar
              [maxDate]="maxDate"
              [monthNavigator]="true"
              [required]="true"
              [showIcon]="true"
              [yearNavigator]="true"
              class="block"
              formControlName="payedOn"
              id="payedOn"
              name="payedOn"
              showButtonBar="true"
              yearRange="2000:2030"
            >
            </p-calendar>
            <div
              *ngIf="isSubmitted && payedOn.invalid"
              class="invalid-feedback"
              style="display: block;"
            >
              <div *ngIf="payedOn.errors">Date is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="expense">Expense</label>
            <p-dropdown
              [options]="expenses$ | async"
              [placeholder]="'Select expense'"
              [showClear]="true"
              [style]="{ width: '50%' }"
              class="block"
              formControlName="expense"
              id="expense"
              name="expense"
            >
            </p-dropdown>
          </div>
          <div class="form-group">
            <label for="observation">Observation</label>
            <textarea
              class="form-control"
              formControlName="observation"
              id="observation"
              name="observation"
              placeholder="Observation"
              rows="7"
            ></textarea>
          </div>
          <hr />
          <div>
            <button type="submit" class="btn btn-primary float-right">Save</button>
            <button (click)="goBack($event)" class="btn btn-secondary">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
