@import 'custom';

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;

  &-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: $gray;
  }

  &-form {
    width: 50%;
    padding: $spacer-lg;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    .actions {
      display: flex;
      align-items: center;
      gap: $spacer-lg;
    }
  }
}
