<p-table [value]="rates" [paginator]="true" [rows]="10" [(selection)]="selectedRates">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3em">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th>Amount</th>
      <th>Observation</th>
      <th>Creation Date</th>
      <th>Payed On</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rate>
    <tr [pSelectableRow]="rate">
      <td>
        <p-tableCheckbox [value]="rate"></p-tableCheckbox>
      </td>
      <td>{{rate.amount}}</td>
      <td>{{rate.observation}}</td>
      <td>{{rate.creationDate | date}}</td>
      <td>{{rate.payedOn | date}}</td>
    </tr>
  </ng-template>
</p-table>
