<div *ngIf="rates.length > 0; else addTemplate" class="ui-g">
  <p-table [value]="rates">
    <ng-template pTemplate="header">
      <tr>
        <th>Amount</th>
        <th>Creation Date</th>
        <th>Payed On</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rate>
      <tr [pSelectableRow]="rate">
        <td>{{ rate.amount }}</td>
        <td>{{ rate.creationDate | date }}</td>
        <td>{{ rate.payedOn | date }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<ng-template #addTemplate>
  <h4 class="mb-3">No rates available</h4>
  <div class="modal-bottom-button" (click)="goToAddRate()">Add new rate</div>
</ng-template>
