$buttonColor: #007ad9;

.modal-bottom-button {
  width: 100%;
  text-align: center;
  background: $buttonColor;
  color: #ffffff;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  transition: .4s;

  &:hover {
    background: darken($buttonColor, 10);
    -webkit-box-shadow: 0 2px 10px 0px lightslategrey;
    -moz-box-shadow: 0 2px 10px 0px lightslategrey;
    box-shadow: 0 2px 10px 0px lightslategrey;
  }
}
