@mixin fill($color, $offset) {
  &:after {
    content: '';
    position: absolute;
    display: block;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $color;
    transition: top 0.1s linear;
  }

  &:hover {
    &:after {
      top: calc(100% - #{$offset});
    }
  }

  &:active {
    &:after {
      display: none;
      transition: none;
    }
  }
}
