@import 'node_modules/bootstrap/scss/bootstrap';
@import 'helper/variables';
@import 'helper/mixins';
@import 'helper/helper-classes';
@import 'navigation/navbar';
@import 'general';
@import 'modal/modal';
