<div class="container" [@fadeIn]>
  <div class="page-title mb-5">
    <h3>{{ pageTitle }}</h3>
  </div>
  <div class="row mb-5">
    <div class="col">
      <div class="form-wrapper">
        <form (ngSubmit)="onSubmit()" [formGroup]="rateFormControls">
          <div class="form-group">
            <app-label text="Amount">
              <input
                [ngClass]="{ 'is-invalid': amount.errors && isSubmitted }"
                class="form-control"
                formControlName="amount"
                id="amount"
                name="amount"
                placeholder="Enter amount"
                required
                type="text"
              />
            </app-label>
            <app-error
              text="Amount is required"
              *ngIf="isSubmitted && amount.errors && amount.errors.required"
            ></app-error>
          </div>
          <div class="form-group">
            <app-label text="Payed On">
              <!--TODO add datepicker clear button-->
              <mat-form-field>
                <input
                  matInput
                  [matDatepicker]="picker"
                  placeholder="Choose a date"
                  [max]="maxDate"
                  formControlName="payedOn"
                  disabled
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker
                  #picker
                  startView="month"
                  disabled="false"
                ></mat-datepicker>
              </mat-form-field>
            </app-label>
            <app-error
              text="Date is required"
              *ngIf="isSubmitted && payedOn.invalid"
            ></app-error>
          </div>
          <div class="form-group">
            <app-label text="Expense">
              <mat-form-field appearance="standard">
                <mat-select
                  placeholder="Select expense"
                  formControlName="expense"
                >
                  <mat-option>None</mat-option>
                  <mat-option
                    *ngFor="let expense of expenses"
                    [value]="expense"
                  >
                    {{ expense.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </app-label>
          </div>
          <div class="form-group">
            <app-label text="Description">
              <textarea
                class="form-control"
                formControlName="description"
                name="observation"
                placeholder="Description"
                rows="7"
              ></textarea>
            </app-label>
          </div>
          <hr />
          <div class="actions">
            <button
              (click)="goBack($event)"
              app-button
              text="Cancel"
              bType="secondary"
            ></button>
            <button app-button text="Save"></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
