button {
  margin: 0 5px;
}

.clear-filters.ui-button.ui-state-default.ui-button-warning {
  position: absolute;
  font-size: 10px;
  animation: slideFromLeft 0.4s ease-in-out;
  transition: 0.4s;
}

@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-1000%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes jiggle {
  0% {
    transform: translate(-10% -10%);
  }

  0% {
    transform: translate(10% 10%);
  }

  0% {
    transform: translate(-20% -20%);
  }

  0% {
    transform: translate(20% 20%);
  }

  0% {
    transform: translate(-5% -50%);
  }

  0% {
    transform: translate(0 0);
  }
}
