<div class="rates" [@fadeIn]>
  <div class="rates-title">
    <h3>Rates</h3>
  </div>

  <ng-container *ngIf="loading$ | async as loading; else table">
    <app-page-spinner [displaySpinner]="loading"></app-page-spinner>
  </ng-container>
  <ng-template #table>
    <div class="rates-actions">
      <button appButton routerLink="add" class="rates-actions--button">
        Add rate
      </button>
    </div>
    <table cdk-table [dataSource]="dataSource" class="table">
      <!-- Name Column -->
      <ng-container cdkColumnDef="amount">
        <th cdk-header-cell *cdkHeaderCellDef>Amount</th>
        <td cdk-cell *cdkCellDef="let element">{{ element.amount }}</td>
      </ng-container>

      <!-- Description Column -->
      <ng-container cdkColumnDef="description">
        <th cdk-header-cell *cdkHeaderCellDef>Description</th>
        <td cdk-cell *cdkCellDef="let element">
          {{ element.description }}
        </td>
      </ng-container>

      <!-- Color Column -->
      <ng-container cdkColumnDef="creationDate">
        <th cdk-header-cell *cdkHeaderCellDef>Creation date</th>
        <td cdk-cell *cdkCellDef="let element">{{ element.creationDate }}</td>
      </ng-container>

      <ng-container cdkColumnDef="payedOn">
        <th cdk-header-cell *cdkHeaderCellDef>Payed on</th>
        <td cdk-cell *cdkCellDef="let element">
          {{ element.payedOn | date }}
        </td>
      </ng-container>

      <ng-container cdkColumnDef="expense">
        <th cdk-header-cell *cdkHeaderCellDef>Expense</th>
        <td cdk-cell *cdkCellDef="let element">
          {{ element.expense.name }}
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container cdkColumnDef="actions">
        <th cdk-header-cell *cdkHeaderCellDef>Actions</th>
        <td cdk-cell *cdkCellDef="let element" class="actions">
          <button appButton bShape="fab" routerLink="edit/{{ element.id }}">
            <svg-icon key="edit" size="lg"></svg-icon>
          </button>
          <button
            appButton
            bType="warning"
            bShape="fab"
            (click)="showDeleteDialog(element)"
          >
            <svg-icon key="delete" size="lg"></svg-icon>
          </button>
        </td>
      </ng-container>

      <tr
        class="header-row"
        cdk-header-row
        *cdkHeaderRowDef="tableColumns"
      ></tr>

      <tr
        class="body-row"
        cdk-row
        *cdkRowDef="let row; columns: tableColumns"
      ></tr>
    </table>
  </ng-template>
</div>
