button {
  margin: 0 5px;
}

#overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 100;

  #overlayText {
    left: 50%;
    top: 50%;
    color: white;
    position: relative;
    font-size: 30px;
  }
}
