<div class="container">
  <div class="page-title">
    <h3>Categories</h3>
  </div>

  <div class="row">
    <div class="table-wrapper mt-5 mb-5">
      <div class="col">
        <p-toolbar>
          <div class="ui-toolbar-group-right">
            <button pButton type="button"
                    routerLink="add"
                    label="Add Category"
                    class="ui-button-raised"
                    (click)="handleClick($event)">
            </button>
          </div>
        </p-toolbar>

      </div>
      <div class="col">
        <p-table [value]="categories">
          <ng-template pTemplate="header">
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Description</th>
              <th>Color</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-cat>
            <tr>
              <td>{{cat.id}}</td>
              <td>{{cat.name}}</td>
              <td>{{cat.description}}</td>
              <td>{{cat.color}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>

    </div>
  </div>


</div>

