button {
  margin: 0 5px;
}

.bottom-bradius {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-bottom: 4px;
  word-break: break-all;
}

.ui-fieldset-legend {
  width: auto;
  font-size: 15px;
  background: red;
}

