<div class="container" [@fadeIn]>
  <div class="page-title">
    <h3>Expenses</h3>
  </div>

  <div class="row">
    <p-overlayPanel #op>
      <p-scrollPanel [style]="{width: '300px', height: '200px'}">
        <div style="padding:1em;line-height:1.5">
          {{selectedDescription}}
        </div>
      </p-scrollPanel>
    </p-overlayPanel>

    <!--TABLE FILTERS START-->
    <div class="table-filters mt-3 col">
      <p-accordion>
        <p-accordionTab header="Filters">
          <p-header>
            Filters
          </p-header>
          <p-chips [(ngModel)]="beautifiedFilters" [disabled]="true"></p-chips>
          <form [formGroup]="filterForm"
                (ngSubmit)="onSubmit(filterForm)">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="title">Title</label>
                  <input type="text"
                         class="form-control"
                         id="title"
                         formControlName="title"
                         placeholder="Enter title">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="description">Description</label>
                  <input type="text"
                         class="form-control"
                         id="description"
                         formControlName="description"
                         placeholder="Enter description">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="category"
                         style="display: block;">
                    Category
                  </label>
                  <p-dropdown id="category"
                              name="category"
                              [options]="categories"
                              formControlName="category"
                              [showClear]="true"
                              [placeholder]="'Select category'"
                              [style]="{'width':'100%'}">
                    <ng-template let-item pTemplate="selectedItem">
                      <span [ngStyle]="{background: item.color}"
                            class="selected-cat">
                      </span>
                      <span
                        style="font-size:14px;margin-left:10px;margin-top:4px">{{item.label}}</span>
                    </ng-template>
                    <ng-template let-cat pTemplate="item">
                      <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                  <span
                    [ngStyle]="{background: cat.color, width: '50%', height: '100%', display:'inline-block'}"></span>
                        <span style="font-size:14px;float:right;margin-top:4px">{{cat.label}}</span>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label style="display: block;" for="tags">Tags</label>
                  <p-multiSelect [options]="tags"
                                 name="tags"
                                 formControlName="tags"
                                 id="tags"
                                 [style]="{'width':'100%'}">
                    <ng-template let-value pTemplate="selectedItems">
                      <div *ngFor="let val of value"
                           class="ui-multiselected-item-token ui-corner-all inlineb">
                        <span [ngStyle]="{background:val.color}" class="small-select-tag"></span>
                        <span>{{val.name}}</span>
                      </div>
                      <span *ngIf="!value || value.length === 0"
                            class="ui-multiselected-empty-token ui-corner-all">Select Tags</span>
                    </ng-template>
                    <ng-template let-tag pTemplate="item">
                      <span [ngStyle]="{background:tag.color}" class="select-tag"></span>
                      <div style="font-size:14px;float:right;margin-top:4px">{{tag.label}}</div>
                    </ng-template>
                  </p-multiSelect>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label style="display: block;" for="createdDate">Created Between</label>
                  <p-calendar [style]="{width:'100%'}"
                              [inputStyle]="{width:'100%'}"
                              id="createdDate"
                              showButtonBar="true"
                              [placeholder]="'Select \'to\' and \'from\' dates'"
                              formControlName="createdBetween"
                              name="createdDate"
                              selectionMode="range"
                              [readonlyInput]="true">
                  </p-calendar>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label style="display: block;" for="dueDate">Due Between</label>
                  <p-calendar [style]="{width:'100%'}"
                              [inputStyle]="{width:'100%'}"
                              id="dueDate"
                              name="dueDate"
                              formControlName="dueBetween"
                              selectionMode="range"
                              [placeholder]="'Select \'to\' and \'from\' dates'"
                              showButtonBar="true"
                              [readonlyInput]="true">
                  </p-calendar>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label style="display: block;" class="form-check-label"
                         for="recurrent">Recurrent</label>
                  <p-checkbox name="recurrent"
                              [formControl]="filterForm.controls['recurrent']"
                              id="recurrent"
                              binary="true">
                  </p-checkbox>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="amount"
                         *ngIf="amountBetween !== null && amountBetween.length > 0;else labelSimple">Amount
                    {{amountBetween[0] + ' - ' + amountBetween[1]}}</label>
                  <ng-template #labelSimple>
                    <label for="amount">Amount</label>
                  </ng-template>
                  <p-slider formControlName="amount"
                            name="amount"
                            id="amount"
                            [(ngModel)]="amountBetween"
                            [min]="0"
                            [step]="100"
                            [max]="10000"
                            [range]="true">
                  </p-slider>
                </div>
              </div>
            </div>

          </form>
          <hr>
          <div class="ui-g">
            <div class="ui-g-12 ui-md-4 ui-md-offset-9">
              <p-button (click)="clearFormFilters($event)"
                        label="Clear Filters"
                        styleClass="ui-button-rounded ui-button-raised ui-button-secondary">
              </p-button>
              <p-button label="Search"
                        (click)="searchValues()"
                        styleClass="ui-button-rounded ui-button-raised ui-button-success">
              </p-button>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
    <!--TABLE FILTERS END-->

    <div class="table-wrapper mt-5 mb-5">
      <div class="col">
        <p-toolbar>
          <div class="ui-toolbar-group-right">
            <p-dialog [style]="{width: '425px'}"
                      [rtl]="true"
                      modal="true"
                      positionTop="50"
                      [visible]="displayDelete"
                      [header]="'Confirm DELETE'">
              <span>{{deletionText}}</span>
              <p>This action can not be undone!</p>
              <p-footer>
                <button type="button"
                        [class]="'ui-button-secondary float-left ui-button-secondary ui-button-raised'"
                        pButton
                        icon="pi pi-times"
                        label="Cancel"
                        (click)="resetDeletionVariables()">
                </button>
                <button type="button"
                        [class]="'ui-button-danger ui-button-raised'"
                        pButton
                        icon="pi pi-check"
                        label="Delete"
                        (click)="displayDelete=true; deleteExpense()">
                </button>
                <button type="button"
                        [class]="'ui-button-danger ui-button-raised'"
                        pButton
                        *ngIf="decideVisibilityAccordingToPayedField()"
                        icon="pi pi-check"
                        label="Delete rates too"
                        (click)="deleteExpenseAndRates()">
                </button>
              </p-footer>
            </p-dialog>
            <button type="button"
                    (click)="displayDeleteMultiple()"
                    pButton
                    [disabled]="!selectedExpenses.length"
                    class="ui-button-raised ui-button-danger"
                    label="Delete">
            </button>
            <button pButton type="button"
                    routerLink="add"
                    label="Add Expense"
                    class="ui-button-raised">
            </button>
          </div>
        </p-toolbar>

      </div>
      <div class="col">
        <p-table [value]="expenses"
                 [responsive]="true"
                 [paginator]="true"
                 [lazy]="true"
                 [rows]="10"
                 (onLazyLoad)="getExpenses($event)"
                 [totalRecords]="totalTableRecords"
                 [loading]="loading"
                 [rowsPerPageOptions]="rowsPerPageOptions"
                 [(selection)]="selectedExpenses">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 3em">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th [pSortableColumn]="'title'">
                Title
                <p-sortIcon [field]="'title'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'amount'">
                Amount
                <p-sortIcon [field]="'amount'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'description'">
                Description
                <p-sortIcon [field]="'description'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'recurrent'">
                Recurrent
                <p-sortIcon [field]="'recurrent'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'createdOn'">
                Created on
                <p-sortIcon [field]="'createdOn'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'dueDate'">
                Due date
                <p-sortIcon [field]="'dueDate'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'category'">
                Category
                <p-sortIcon [field]="'category'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'tags'">
                Tags
                <p-sortIcon [field]="'tags'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'payed'">
                Payed
                <p-sortIcon [field]="'payed'"></p-sortIcon>
              </th>
              <th>Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-exp>
            <tr [pSelectableRow]="exp">
              <td>
                <p-tableCheckbox [value]="exp"></p-tableCheckbox>
              </td>
              <td>{{exp.title}}</td>
              <td>{{exp.amount}}</td>
              <td>
                <div *ngIf="exp.description && exp.description.length > 15; else smallerDesc"
                     style="cursor:pointer;"
                     pTooltip="Click for detailed info"
                     (click)="selectedDescription=exp.description;op.toggle($event)">
                  {{exp.description.length > 15 ? (exp.description | slice:0:20)+'...' :
                  exp.description}}
                </div>
                <ng-template #smallerDesc>
                  <div>
                    {{exp.description}}
                  </div>
                </ng-template>
              </td>
              <td>{{exp.recurrent}}</td>
              <td>{{exp.createdOn | date}}</td>
              <td>{{exp.dueDate | date}}</td>
              <td>
                <span *ngIf="exp.category && exp.category.name"
                      class="bottom-bradius"
                      [ngStyle]="{'border-bottom': '8px solid' + exp.category.color}">
                  {{exp.category.name}}
                </span>
              </td>
              <td>
                <div *ngIf="exp.tags && exp.tags.length" style="display: inline-block;">
                  <span *ngFor="let tag of exp.tags"
                        class="bottom-bradius"
                        [ngStyle]="{'border-bottom': '8px solid' + tag.color}">
                    {{tag.name}}
                  </span>
                </div>
              </td>
              <td>{{exp.payed}}</td>

              <td class="text-center">
                <button pButton
                        pTooltip="Edit"
                        class="ui-button-info ui-button-raised"
                        type="button"
                        routerLink="add/{{exp.id}}"
                        icon="pi pi-pencil"
                        iconPos="left">
                </button>
                <button pButton
                        pTooltip="Delete"
                        class="ui-button-danger ui-button-raised"
                        type="button"
                        (click)="displayDeleteRow(exp)"
                        icon="pi pi-trash"
                        iconPos="left">
                </button>
                <button *ngIf="exp.payed > 0"
                        pTooltip="Display rates"
                        pButton
                        class="ui-button-secondary ui-button-raised"
                        type="button"
                        (click)="fetchAndDisplayRates(exp)"
                        icon="pi pi-sitemap"
                        iconPos="left">
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

    </div>
  </div>
</div>
