button {
  margin: 0 5px;
}

.bottom-bradius {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  margin: 0px 4px;
  display: inline-block;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.body .ui-button.ui-state-default.ui-button-warning, body .ui-buttonset.ui-button-warning > .ui-button.ui-state-default {
  position: absolute;
  transform: translate(-50%, -20%);
  font-size: 10px;
}

// TODO clear filters button style ignored
