<div class="container" [@fadeIn]>
  <div class="page-title mb-5">
    <h3>{{ pageTitle }}</h3>
  </div>
  <div class="row mb-5">
    <div class="col">
      <ng-container *ngIf="loading$ | async as loading; else formContainer">
        <app-page-spinner
          [displaySpinner]="loading"
          [message]="spinnerMessage$ | async"
        ></app-page-spinner>
      </ng-container>
      <ng-template #formContainer>
        <div class="form-wrapper">
          <form (ngSubmit)="onSubmit()" [formGroup]="categoryForm">
            <div class="form-group">
              <app-label [text]="'GENERAL.NAME' | transloco">
                <input
                  (change)="checkName($event)"
                  [ngClass]="{ 'is-invalid': name.errors && isSubmitted }"
                  class="form-control"
                  formControlName="name"
                  id="name"
                  [placeholder]="'GENERAL.PLACEHOLDERS.NAME' | transloco"
                  required
                  type="text"
                />
              </app-label>
              <app-error
                [text]="'GENERAL.ERRORS.NAME' | transloco"
                *ngIf="name.errors && isSubmitted && name.errors.required"
              ></app-error>
              <app-error
                [text]="'GENERAL.ERRORS.NAME_EXISTS' | transloco"
                *ngIf="nameExists"
              ></app-error>
            </div>
            <div class="form-group">
              <app-label [text]="'GENERAL.DESCRIPTION' | transloco">
                <textarea
                  class="form-control"
                  formControlName="description"
                  id="description"
                  [placeholder]="'GENERAL.PLACEHOLDERS.DESCRIPTION' | transloco"
                  rows="7"
                ></textarea>
              </app-label>
            </div>

            <div class="form-group">
              <app-label text="Color">
                <p-colorPicker
                  [inline]="true"
                  class="test"
                  formControlName="color"
                ></p-colorPicker>
                <div
                  [ngStyle]="{ background: categoryForm.get('color').value }"
                  class="preview-block"
                ></div>
              </app-label>
            </div>
            <hr />
            <div class="actions">
              <button (click)="goBack($event)" appButton bType="secondary">
                {{ 'GENERAL.CANCEL' | transloco }}
              </button>
              <button appButton>{{ 'GENERAL.SAVE' | transloco }}</button>
            </div>
          </form>
        </div>
      </ng-template>
    </div>
  </div>
</div>
