<div class="container" [@fadeIn]>
  <div class="page-title mb-5">
    <h3>{{ pageTitle }}</h3>
  </div>

  <div class="row mb-5">
    <div class="col">
      <ng-container *ngIf="loading$ | async as loading; else formContainer">
        <app-page-spinner
          [displaySpinner]="loading"
          [message]="spinnerMessage$ | async"
        ></app-page-spinner>
      </ng-container>

      <ng-template #formContainer>
        <div class="form-wrapper">
          <form (ngSubmit)="onSubmit()" [formGroup]="categoryForm">
            <app-form-group>
              <app-label>{{ 'GENERAL.NAME' | transloco }}</app-label>
              <input
                (change)="checkName($event)"
                [ngClass]="{ 'is-invalid': name.errors && isSubmitted }"
                class="form-control"
                formControlName="name"
                appFormField
                [placeholder]="'GENERAL.PLACEHOLDERS.NAME' | transloco"
                required
                type="text"
              />
              <app-error
                *ngIf="name.errors && isSubmitted && name.errors.required"
              >
                {{ 'GENERAL.ERRORS.NAME' | transloco }}
              </app-error>

              <app-error *ngIf="nameExists">
                {{ 'GENERAL.ERRORS.NAME_EXISTS' | transloco }}
              </app-error>
            </app-form-group>

            <app-form-group>
              <app-label>{{ 'GENERAL.DESCRIPTION' | transloco }}</app-label>
              <textarea
                class="form-control"
                formControlName="description"
                appFormField
                [placeholder]="'GENERAL.PLACEHOLDERS.DESCRIPTION' | transloco"
                rows="7"
              ></textarea>
            </app-form-group>

            <app-form-group>
              <app-label>Color</app-label>
              <input type="color" formControlName="color" />
              <div
                [ngStyle]="{ background: categoryForm.get('color').value }"
                class="preview-block"
              ></div>
            </app-form-group>

            <hr />

            <div class="actions">
              <button (click)="goBack($event)" appButton bType="secondary">
                {{ 'GENERAL.CANCEL' | transloco }}
              </button>

              <button appButton>{{ 'GENERAL.SAVE' | transloco }}</button>
            </div>
          </form>
        </div>
      </ng-template>
    </div>
  </div>
</div>
