@import 'custom';
@import 'components/table';

.categories {
  &-title {
    font-size: 6rem;
    color: $gray-200;
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
  }

  .color {
    width: 100%;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  &-actions {
    display: flex;
    margin-bottom: $spacer-lg;
    justify-content: flex-end;

    &--button {
      width: 10rem;
    }
  }
}
