@import './src/styles/custom';

ul {
  display: flex;
  list-style: none;
  background: $gray-100;
  padding: $spacer;
  justify-content: space-between;
  font-weight: bold;

  li {
    padding: $spacer / 2;
    color: $primary;
    justify-content: space-between;
    font-size: $font-size-lg;

    &:hover {
      background: $primary;
      border-radius: $border-radius;
      transition: 0.3s;

      a {
        color: $white;
        text-decoration: none;
      }
    }
  }
}
