<div class="container" [@fadeIn]>
  <div class="page-title mb-5">
    <h3>{{ pageTitle }}</h3>
  </div>
  <div class="row mb-5">
    <div class="col">
      <div class="form-wrapper">
        <form (ngSubmit)="onSubmit()" [formGroup]="expenseForm">
          <div class="form-group">
            <label for="title">Title</label>
            <input
              [ngClass]="{
                'is-invalid': title.invalid && (title.dirty || title.touched || isFormSubmitted)
              }"
              class="form-control"
              formControlName="title"
              id="title"
              placeholder="Enter title"
              required
              type="text"
            />
            <div
              *ngIf="title.invalid && (title.dirty || title.touched || isFormSubmitted)"
              class="invalid-feedback"
            >
              <div *ngIf="title.errors.required && isFormSubmitted">Title is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="amount">Amount</label>
            <input
              [ngClass]="{
                'is-invalid': amount.invalid && (amount.dirty || amount.touched || isFormSubmitted)
              }"
              aria-describedby="amount"
              class="form-control"
              formControlName="amount"
              id="amount"
              placeholder="Enter amount"
              required
              type="text"
            />
            <div
              *ngIf="amount.invalid && (amount.dirty || amount.touched || isFormSubmitted)"
              class="invalid-feedback"
            >
              <div *ngIf="amount.errors.required && isFormSubmitted">Amount is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              class="form-control"
              formControlName="description"
              id="description"
              placeholder="Description"
              rows="7"
            >
            </textarea>
          </div>
          <div class="form-group">
            <p-checkbox binary="true" formControlName="recurrent" label="Recurrent"></p-checkbox>
          </div>
          <div class="form-group">
            <label for="dueDate">Due date</label>
            <p-calendar
              [minDate]="minDate"
              [monthNavigator]="true"
              [showIcon]="true"
              [yearNavigator]="true"
              formControlName="dueDate"
              id="dueDate"
              showButtonBar="true"
              yearRange="2000:2030"
            >
            </p-calendar>
          </div>
          <div class="form-group">
            <label for="category">Category</label>
            <p-dropdown
              [options]="categories$ | async"
              [placeholder]="'Select category'"
              [showClear]="true"
              [style]="{ width: '50%' }"
              formControlName="category"
              id="category"
            >
              <ng-template let-item pTemplate="selectedItem">
                <span [ngStyle]="{ background: item.value.color }" class="selected-cat"></span>
                <span style="font-size: 14px; margin-left: 10px; margin-top: 4px;">{{
                  item.label
                }}</span>
              </ng-template>
              <ng-template let-cat pTemplate="item">
                <div class="ui-helper-clearfix" style="position: relative; height: 25px;">
                  <span
                    [ngStyle]="{
                      background: cat.value.color,
                      width: '50%',
                      height: '100%',
                      display: 'inline-block'
                    }"
                  ></span>
                  <span style="font-size: 14px; float: right; margin-top: 4px;">{{
                    cat.label
                  }}</span>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
          <div class="form-group">
            <label for="tags">Tags</label>
            <p-multiSelect
              [options]="tags$ | async"
              [style]="{ width: '50%' }"
              formControlName="tags"
              id="tags"
            >
              <ng-template let-value pTemplate="selectedItems">
                <div
                  *ngFor="let val of value"
                  class="ui-multiselected-item-token ui-corner-all inlineb"
                >
                  <span [ngStyle]="{ background: val.color }" class="small-select-tag"></span>
                  <span>{{ val.name }}</span>
                </div>
                <span
                  *ngIf="!value || value.length === 0"
                  class="ui-multiselected-empty-token ui-corner-all"
                  >Choose</span
                >
              </ng-template>
              <ng-template let-tag pTemplate="item">
                <span [ngStyle]="{ background: tag.value.color }" class="select-tag"></span>
                <div style="font-size: 14px; float: right; margin-top: 4px;">{{ tag.label }}</div>
              </ng-template>
            </p-multiSelect>
          </div>
          <hr />
          <div>
            <button type="submit" class="btn btn-primary float-right">Save</button>
            <button (click)="goBack($event)" class="btn btn-secondary">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
