<div class="container">
  <div class="row">
    <div class="col">
      <p-tabView>
        <p-tabPanel header="Expenses">
          <app-expense-card-list></app-expense-card-list>
          <hr>
          <app-expense-chart></app-expense-chart>
        </p-tabPanel>
        <p-tabPanel header="Tags">
          <ng-container *ngIf="(tagStats$ | async) as tagStats">
            <app-card-view-list [stats]="tagStats"></app-card-view-list>
            <app-chart [chartData]="tagStats" [chartType]="pieChart"></app-chart>
            <app-chart [chartData]="tagStats" [chartType]="barChart"></app-chart>
          </ng-container>
        </p-tabPanel>
        <p-tabPanel header="Categories">
          <ng-container *ngIf="(categoriesStats$ | async) as categoriesStats">
            <app-card-view-list [stats]="categoriesStats"></app-card-view-list>
            <app-chart [chartData]="categoriesStats" [chartType]="pieChart"></app-chart>
            <app-chart [chartData]="categoriesStats" [chartType]="barChart"></app-chart>
          </ng-container>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>

