<div class="container">
  <div class="page-title mb-5">
    <h3>{{pageTitle}}</h3>
  </div>
  <div class="row mb-5">
    <div class="col">
      <div class="form-wrapper">
        <form #f="ngForm"
              name="form"
              (ngSubmit)="f.form.valid && onSubmit()">
          <div class="form-group">
            <label for="amount">Amount</label>
            <input type="text"
                   class="form-control"
                   id="amount"
                   [ngClass]="{ 'is-invalid': f.submitted && amount.invalid }"
                   required
                   name="amount"
                   #amount="ngModel"
                   placeholder="Enter amount"
                   [(ngModel)]="rate.amount">
            <div *ngIf="f.submitted && amount.invalid" class="invalid-feedback">
              <div *ngIf="amount.errors.required">Amount is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="payedOn">Payed On</label>
            <p-calendar [(ngModel)]="rate.payedOn"
                        name="payedOn"
                        id="payedOn"
                        class="block"
                        [required]="true"
                        [showIcon]="true"
                        [monthNavigator]="true"
                        [yearNavigator]="true"
                        [maxDate]="maxDate"
                        #payedOn="ngModel"
                        yearRange="2000:2030"
                        showButtonBar="true">
            </p-calendar>
            <div *ngIf="f.submitted && payedOn.invalid"
                 class="invalid-feedback"
                 style="display: block;">
              <div *ngIf="payedOn.errors.required">Date is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="expense">Expense</label>
            <p-dropdown id="expense"
                        name="expense"
                        class="block"
                        [options]="expenses"
                        [(ngModel)]="rate.expense"
                        [showClear]="true"
                        [placeholder]="'Select expense'"
                        [style]="{'width':'50%'}">
            </p-dropdown>
          </div>
          <div class="form-group">
            <label for="observation">Observation</label>
            <textarea rows="7"
                      class="form-control"
                      id="observation"
                      name="observation"
                      placeholder="Observation"
                      [(ngModel)]="rate.observation"
            ></textarea>
          </div>
          <hr>
          <div>
            <button type="submit" class="btn btn-primary float-right">Save</button>
            <button (click)="goBack()" class="btn btn-secondary">Cancel</button>
          </div>
        </form>
      </div>
    </div>

  </div>


</div>

