@mixin border-radius($bottom-left: 5px, $top-left: 5px, $bottom-right: 5px, $top-right: 5px) {
  border-bottom-left-radius: $bottom-left;
  border-bottom-right-radius: $bottom-right;
  border-top-right-radius: $top-right;
  border-top-left-radius: $top-left;
}

.holder {
  width: 100%;
  border: 1px solid #c8c8c8;
  min-height: 40px;
  padding: 3px;
  @include border-radius();

  .tag {
    display: inline-block;
    margin-top: 7px;
    margin-bottom: 7px;
    transition: .4s;

    .value {
      padding: 5px 10px;
      background: darkorange;
      color: white;
      @include border-radius(5px, 5px, 0, 0);
    }

    .action {
      padding: 5px;
      background: #626a71;
      color: white;
      font-weight: bold;
      margin: 4px 10px 4px 0;
      cursor: pointer;
    }
  }
}
