@mixin border-radius($bottom-left: 5px, $top-left: 5px, $bottom-right: 5px, $top-right: 5px) {
  border-bottom-left-radius: $bottom-left;
  border-bottom-right-radius: $bottom-right;
  border-top-right-radius: $top-right;
  border-top-left-radius: $top-left;
}

$action-transition-time: 0.3s;
$gray-border-color: #c8c8c8;
$orange: darkorange;
$gray: #626a71;

.holder {
  border: 1px solid $gray-border-color;
  min-height: 40px;
  padding: 3px;
  @include border-radius(5px, 5px, 0, 0);

  .tag {
    display: inline-block;
    margin-top: 7px;
    margin-bottom: 7px;
    transition: $action-transition-time;

    .value {
      padding: 5px 10px;
      background: $orange;
      color: white;
      @include border-radius(5px, 5px, 0, 0);
    }

    .action {
      padding: 5px;
      background: $gray;
      color: white;
      font-weight: bold;
      margin: 4px 10px 4px 0;
      cursor: pointer;
      transition: $action-transition-time;

      &:hover {
        box-shadow: 3px 4px 4px $gray-border-color;
        transition: $action-transition-time;
        background: darken($gray, 5%);
      }
    }
  }
}

.clear {
  text-align: center;
  padding: 0;
  background: $orange;
  transition: $action-transition-time;
  @include border-radius(0, 0);

  &.disabled {
    background: lighten($orange, 30%);

    .pi-times-circle {
      display: none;
    }
  }

  &:not(.disabled):hover {
    box-shadow: 3px 4px 4px $gray-border-color;
    transition: $action-transition-time;
    background: darken($orange, 5%);
  }

  .icon {
    color: white;
    font-size: 3em;
  }
}
