<div class="container mb-1">
  <div class="row">
    <div class="holder col-11">
      <span *ngFor="let filter of parsedFilter" class="tag">
        <span class="value">{{ filter.label }}</span>
        <span
          (click)="removeExistingTag(filter.value)"
          class="action"
          role="button"
          >X</span
        >
      </span>
    </div>
    <div
      (click)="removeAll()"
      [ngClass]="{ disabled: areFiltersEmpty() }"
      class="col-1 clear"
      role="button"
    >
      <i class="pi pi-times-circle icon" style="font-size: 3em;"></i>
    </div>
  </div>
</div>
