<p-card>
  <p-header>
    <div [ngStyle]="{ background: data.color }" class="card-color"></div>
    <div class="col font-weight-bold">
      <h5>{{ data.name }}</h5>
    </div>
  </p-header>
  <div class="col">
    <span class="font-italic">No of expenses</span>
    <span class="float-right">{{ data.noOfExpenses }}</span>
  </div>
  <div class="col">
    <span class="font-italic">Total amount:</span>
    <span class="float-right">{{ data.total }}</span>
  </div>
  <div class="col">
    <span class="font-italic">Amount Payed:</span>
    <span class="float-right">{{ data.payed }}</span>
  </div>
  <div class="col">
    <span class="font-italic">Largest expense: </span>
    <span class="float-right">{{ data.max }}</span>
  </div>
  <div class="col">
    <span class="font-italic">Lowest expense:</span>
    <span class="float-right">{{ data.min }}</span>
  </div>
  <div class="col">
    <span class="font-italic">Recurrent:</span>
    <span class="float-right">{{ data.totalRecurrent }}</span>
  </div>
  <div class="col">
    <span class="font-italic">Non Reccurent:</span>
    <span class="float-right">{{ data.nonRecurrent }}</span>
  </div>
  <div class="col">
    <span class="font-italic">Payed expenses:</span>
    <span class="float-right">{{ data.closed }}</span>
  </div>
</p-card>
