div {
  position: absolute;
  right: 50px;
  height: 70px;
  //background: rgba(0, 0, 0, 0.4);
  background: #323232;
  transform: scale(1);
  color: white;
  display: table;
  text-align: left;
  border-radius: 10px;

  span {
    display: table-cell;
    vertical-align: middle;
    padding: 0 20px;
  }
}
