//@import '~bootstrap/dist/css/bootstrap.min.css'
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'styles/variables';
@import 'styles/mixins';
@import 'styles/navbar';
@import 'styles/general';
@import 'styles/modal';
@import 'styles/helper-classes';
