<div class="container" [@fadeIn]>
  <div class="page-title mb-5">
    <h3>{{pageTitle}}</h3>
  </div>
  <div class="row mb-5">
    <div class="col">
      <div class="form-wrapper">
        <form (ngSubmit)="onSubmit()"
              [formGroup]="categoryForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text"
                   class="form-control"
                   id="name"
                   (change)="checkName($event)"
                   required
                   formControlName="name"
                   [ngClass]="{ 'is-invalid': name.errors && isSubmitted}"
                   placeholder="Enter name">
            <div *ngIf="name.errors && isSubmitted" class="invalid-feedback">
              <div *ngIf="name.errors.required">Name is required</div>
            </div>
            <div *ngIf="nameExists" class="invalid-feedback" style="display: block;">
              <div>Name already exists. Please choose another name!</div>
            </div>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea rows="7"
                      class="form-control"
                      id="description"
                      formControlName="description"
                      placeholder="Description"
            ></textarea>
          </div>

          <div class="form-group">
            <label class="block">Color</label>
            <p-colorPicker class="test"
                           formControlName="color"
                           [inline]="true">
            </p-colorPicker>
            <div class="preview-block"
                 [ngStyle]="{'background':categoryForm.get('color').value}">
            </div>
          </div>
          <hr>
          <div>
            <button type="submit" class="btn btn-primary float-right">Save</button>
            <button (click)="goBack($event)" class="btn btn-secondary">Cancel</button>
          </div>
        </form>
      </div>
    </div>

  </div>


</div>

