.preview-block {
  width: 60%;
  display: inline-block;
  float: right;
  height: 165px;
  border-radius: 5px;
}

.form-wrapper {
  margin: 0 20%;
}

.block {
  display: block;
}

button {
  min-width: 150px;
}
